<%- include('partials/header'); -%>

<div class="container">
    <a href="/">HOME</a>
    <h1>CREATE PAGE</h1>

    <h1 class="blog-title">CREATE A BLOG</h1>
    <div class="blog-cont">
      <form>
        <label for="TITLE">TITLE</label>
        <input type="text" name="TITLE">
        <label for="CONTENT">CONTENT</label>
        <input type="text" name="CONTENT">
        <label for="AUTHOR">AUTHOR</label>
        <input type="text" name="AUTHOR">
        <button id="blogsubmit" type="button">Create Blog</button>
      </form>
    </div>

</div>

<script src="/JS/create.js"></script>


<%- include('partials/footer'); -%>